.menu {
    height: 100%;
    width: 64px;
    background-color: #343E4D;
}

.menuBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
}

.menuTitle{
    font-size: 9px;
    color: #A1B4C4;
    margin: 0
}

.menuTitleActive{
    color: #FCFDFD
}

.menuIcon svg{
    width: 32px;
    height: 32px;
}

.menuIcon svg path{
    fill: #A1B4C4;
}

.menuIconActive svg path{
    fill: #FCFDFD;
}

@media only screen and (max-width: 600px) {
    .menu{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menuIcon svg{
        width: 24px;
        height: 24px;
    }
}