.content{
    height: 100%;
    flex: 1;
    position: relative;    
}

.contentUncheckWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contentUncheckIcon svg{
    width: 128px;
    height: 128px;
}

.contentUncheckIcon svg path{
    fill:#7A8D9F;
}

.contentUncheckText{
    color:#7A8D9F;
    margin: 0;
    font-size: 36px;
}

.contentCheckWrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.contentCheckImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentCheckText{
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 16px;
    background-color: #343E4D;
    color:#FCFDFD;
    font-size: 16px;
    box-sizing: border-box;
    text-transform:capitalize;
}

@media only screen and (max-width: 992px) {
    .contentUncheckIcon svg{
        width: 70px;
        height: 70px;        
    }
    .contentUncheckText{
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .contentUncheckIcon svg{
        width: 50px;
        height: 50px;        
    }
    .contentUncheckText{
        font-size: 20px;
    }
}