.sidebar{
    height:100%;
    width:560px;
    border-right: solid 2px #CFDAE2;
}

.sidebarHeader{
    background-color: #F2F5F8;
    padding:16px;
    border-bottom: solid 2px #CFDAE2;
}

.sidebarTitle{
    margin: 0;
    color:#343E4D;
    font-size: 24px;
    font-weight: 600;
}

.sidebarSearchWrapper{
    position: relative;
    margin-top: 16px;
}

.sidebarSearchIcon{
    position: absolute;
    z-index: 2;
    top:50%;
    left:8px;
    transform: translate(0,-50%);
}

.sidebarSearchIcon svg{
    width: 24px;
    height: 24px;
}

.sidebarSearchIcon svg path{
    fill:#7A8D9F;
}

.sidebarSearchInput{
    line-height: 24px;
    padding: 8px 8px 8px 40px;
    font-size: 12px;
    border:solid 1px #BFCED9;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
}

.sidebarSearchInput::placeholder{
    color:#7A8D9F;
    font-size: 12px;
}

.sidebarContent{
    padding: 16px 8px;
    height: calc(100vh - 120px - 16px - 16px);
    overflow: hidden auto;
}

.sidebarRow{
    display: flex;
    flex-wrap: wrap;
}

.sidebarCol{
    margin: 8px;
    width: calc(100%/3 - 16px);
}

.sidebarImgWrapper{
    border-radius: 8px;
    overflow: hidden;
    height: 120px;
    position: relative;
    cursor: pointer;
}

.sidebarImgWrapper::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 2;
    background-color: #CFDAE2;
    opacity: 0.5;
    transition: 0.3s;
}

.sidebarImgWrapper:hover:before{
    opacity: 0;
}

.sidebarImgWrapperActive{
    border: solid 3px #3FA9F5;
    box-sizing: border-box;
}

.sidebarImgWrapperActive::before {
    opacity: 0;
}

.sidebarImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1200px) {
    .sidebar{
        width: 300px;
    }
    .sidebarCol{
        width: calc(100%/2 - 16px);
    }
    .sidebarImgWrapper{
        height: 90px;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar{
        width: 100%;
    }   
    .sidebarContent{
        height: calc(100vh - 120px - 16px - 16px - 64px);
    }
}

