.app{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}


.drawerBtn{    
    color:#FCFDFD;
    background-color: #343E4D;
    padding: 10px 25px;
    
}


@media only screen and (max-width: 600px) {
    .app{
        flex-direction: column;
    }
}